/* .img-fluid{
    height: 600px;
    width:500px;
}

.card-title{
    color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  
    
}

.card-greet{
    font-size: 35px;
    color: #0E2431;
    margin: 5px 0;
}

.card-text{
    font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.container{
    background-color: rgb(139, 27, 23);
    margin-top: 40px;
}
body{
    background: radial-gradient(#91d7e9, #cf88f0);
}
.col-md-8{
    background-color: black;
}
.card{
    background-color: #0E2431;
} */
.home .img-fluid {
  height: 400px;
  width: 500px;
  float: left;
  position: relative;
  left: 60%;
  top:-50%
}
.home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one {
  font-size: 30px;
  color: #0e2431;
}
.home .text-two {
  color: #0e2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0e2431;
}
.home .button {
  position: relative;
  left:-40%;
}
.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}
